<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Dexter. It uses mapbox.com and darksky.net for location and weather forecasting.</p>
            <img class="robot" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>